* {
  margin: 0;
}

/* main layout css--> */

#root {
  height: 100%;
}

.header {
  height: 60px; 
  /* background-color: red; For browsers that do not support gradients */
  background-image: linear-gradient(to left, rgb(8, 15, 72) , rgb(14, 75, 83));
} 

.content {
  display: flex;

}

.footer {
  color: black;
  text-align: center;
  display: block;
}

.detail {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgb(243, 243, 232) , rgb(162, 31, 173));
  flex: 1;
  min-height: calc(100vh - 80px);  
}

.sider {
  min-height: calc(100vh - 80px);
  background-color: #001529;
} 

.picStyle {
  background: url("https://uploads-ssl.webflow.com/60edc0a8835d5b38bf11f03f/61cf04b6ec15b58091ed45d3_Functions-of-Inventory-Management-Software.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  height: 100vh;
}


/* sub folder css--> */


/* .wrapper{
  max-width: 500px; height: auto;
  padding: 20px;
  box-shadow: 1px 1px 15px 1px black ;
  backdrop-filter: blur(3px);
  border-radius: 10px;
}  */

.co_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_container{
overflow: auto;}

.text_align{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 8% 3% 0 0;
}